@media only screen
    and (min-width: 360px)
    and (max-width: 390px)
    and (min-height: 780px)
    and (max-height: 850px)
    and (-webkit-device-pixel-ratio: 3) {

    .app-container {
        padding: 5% 50px 70px;
    }

    /* Metrics Section */
    .metrics-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 120px 5px;
        text-align: center;
        margin-top: 70px;
    }
    .metric {
        font-size: 24px;
    }
    .metric-circle {
        width: 220px;
        height: 220px;
        margin: 2px 0;
    }
    .metric-circle .progress-background {
        stroke-width: 25;
    }
    .metric-circle .progress-ring {
        stroke-width: 25;
    }
    .metric-circle .percentage-label {
        font-size: 44px;
    }

    /* Speedometer */
    .speedometer {
        height: 280px;
        padding: 40px 0;
    }
    .speed-value {
        font-size: 160px;
    }
    .speed-unit {
        font-size: 40px;
    }

    /* Chart */
    canvas {
        max-width: 100%;
        max-height: 320px;
        margin: 40px 0;
    }

    /* Map Section */
    .map-container, .report-map-container {
        margin: 50px 0 40px;
    }
    .map-container {
        height: 650px;
    }
    .report-map-container {
        height: 450px;
    }

    /* Report Section */
    .recording-container {
        margin-bottom: 80px
    }

    .report-metrics-container {
        gap: 90px 0;
        margin: 60px 0 90px;
    }
    .recording-metadata {
        font-size: 28px;
        margin: 4px 0;
    }
    .report {
        min-width: 110px;
    }
    .title {
        font-size: 44px;
        font-weight: 200;
    }
    .info {
        font-size: 32px;
    }
    #reportChart {
        min-height: 550px;
        max-height: 550px;
        margin: 48px 0;
    }

    /* Button Section */
    .button-container {
        position: fixed;
        bottom: 75px;
        min-width: 280px;
        width: 65%;
        max-width: 65%;
        height: 180px;
        padding: 8px 24px;
        border-radius: 100px;
    }
    .nav__list {
        font-size: 75px;
    }

    .start-stop-button {
        width: 135px;
        height: 135px;
        border-radius: 50%;
    }
    .start-stop-button:has(> i.ri-play-fill) {
        padding-left: 20px;
    }
    .start-stop-button-icon {
        font-size: 90px;
    }
    .start-stop-button-icon.active {
        color: var(--default-colour-bright-blue_80);
    }

    #log span {
        font-size: 16px;
    }
}

