@media only screen
    and (device-width: 360px)
    and (device-height: 780px)
    and (-webkit-device-pixel-ratio: 3) {

    .app-container {
        padding: 0 6% 58px; /* 6% 6% 58px */
    }

    /* Metrics Section */
    .metrics-container {
        gap: 20px 5px; /* 30px 5px */
    }
    .metric {
        font-size: 8px;
    }
    .metric-circle {
        width: 84px;
        height: 84px;
        margin: 0;
    }

    .metric-circle .percentage-label {
        font-size: 20px;
    }

    /* Speedometer */
    .speedometer {
        margin: 20px 0 4px;
        padding: 0;
    }
    .speed-value {
        font-size: 50px;
    }
    .speed-unit {
        font-size: 10px;
    }

    /* Chart */
    canvas {
        max-height: 100px;
        margin-top: -18px;
    }

    /* Map Section */
    .map-container {
        height: 200px;
        margin-top: 42px;
    }
    .report-map-container {
        height: 150px;
        margin: 20px 0;
    }

    /* Report Section */
    .recording-container {
        margin-bottom: 14px
    }

    .report-metrics-container {
        gap: 28px 0;
        margin-bottom: 28px;
    }
    .recording-metadata {
        font-size: 10px;
    }
    .title {
        font-size: 15px;
        font-weight: 400;
    }
    .info {
        font-size: 10px;
        margin: 2px 0;
    }
    #reportChart {
        min-height: 294px;
        max-height: 294px;
    }

    /* Button Section */
    .button-container {
        position: fixed;
        min-width: 240px;
        width: 50%;
        height: 56px;
    }
    .nav__list {
        font-size: 24px;
    }

    .start-stop-button {
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }
    .start-stop-button-icon {
        font-size: 30px;
    }
}

