:root {
    /* Colours */
    --default-colour-bright-purple_100: rgba(157, 0, 255, 1);
    --default-colour-bright-purple_40: rgba(157, 0, 255, 0.4);
    --default-colour-light-bright-purple_40: rgba(138, 3, 221, 0.4);
    --default-colour-semi-medium-purple_20: rgba(57, 10, 92, 1);
    --default-colour-medium-purple: #290245;
    --default-colour-semi-dark-purple_20: rgba(35, 7, 56, 0.2);
    --default-colour-dark-purple: #1D1617;

    --default-colour-bright-blue_100: rgba(0, 240, 255, 1);
    --default-colour-bright-blue_20: rgba(0, 240, 255, 0.2);
    --default-colour-bright-blue_15: rgba(0, 240, 255, 0.15);

    --default-colour-flat-red: #D94260;

    --default-colour-all-white: #FFFFFF;
    --default-colour-off-white: #CCCCCC;

    --default-colour-dark-gray_40: rgba(10, 10, 10, 0.4);

    --default-colour-all-black_30: rgba(0, 0, 0, 0.3);
    --default-colour-all-black_40: rgba(0, 0, 0, 0.4);
    --default-colour-all-black_60: rgba(0, 0, 0, 0.6);
    --default-colour-blueish-black_70: rgba(10, 10, 30, 0.7);

    /* Opacity */
    --default-opacity-light-level-1: 0.74;

    /* Z-Index */
    --default-z-index-top: 999
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: auto;
    background-image: radial-gradient(
        farthest-corner at 100px 100px,
        var(--default-colour-medium-purple) 25%,
        var(--default-colour-dark-purple) 100%
    );
    border-radius: 8px;
    overflow: hidden;
}

.border-gradient {
    border: 2px solid;
    border-radius: 8px;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        var(--default-colour-bright-blue_15),
        var(--default-colour-bright-purple_40),
        var(--default-colour-semi-medium-purple_20)
    );
}

/* Metrics Section */
.metrics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
    padding: 20px;
    border-radius: 8px;
    background-image: radial-gradient(
            var(--default-colour-light-bright-purple_40) 0%,
            var(--default-colour-semi-dark-purple_20) 100%
    );
    text-align: center;
}
.metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-family: 'Ruda', sans-serif;
    color: var(--default-colour-all-white);
    opacity: var(--default-opacity-light-level-1);
}
.metric-circle {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 6px 0;
}
.metric-circle svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}
.metric-circle .progress-background {
    fill: none;
    stroke: var(--default-colour-flat-red);
    stroke-width: 8;
    filter: drop-shadow(-1px -0 1px var(--default-colour-all-black_30));
}
.metric-circle .progress-ring {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
    stroke: url(#GradientColor);
    filter: drop-shadow(1px 1px 1px var(--default-colour-bright-blue_20))
            blur(0.15px);
    transition: stroke-dashoffset 0.4s, stroke 0.4s;
}
.metric-circle .percentage-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: var(--default-colour-all-white);
    font-family: 'Righteous', sans-serif;
}

/* Speedometer */
.speedometer {
    text-align: center;
    vertical-align: center;
    margin: 10px 0;
    padding: 10px 0;
    height: 110px;
    background-image: radial-gradient(
        ellipse at center,
        rgba(191, 88, 255, 0.15) 0,
        rgba(127, 1, 207, 0.1) 23%,
        rgba(41, 2, 69, 0.5) 55%,
        transparent 70%
    );
}
.speed-value {
    font-size: 48px;
    font-family: 'Righteous', sans-serif;
    color: var(--default-colour-all-white);
}
.speed-unit {
    font-size: 14px;
    color: var(--default-colour-all-white);
    opacity: var(--default-opacity-light-level-1);
}

/* Map Section */
.map-container {
    position: relative;
    height: 100%;
    display: grid;
    border-radius: 8px;
}
.map-container::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: calc(var(--default-z-index-top) - 1);
    background: radial-gradient(circle, transparent 10%, var(--default-colour-blueish-black_70) 100%);
    pointer-events: none;
}
.leaflet-container {
    background: none;
    border-radius: 0;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

/* Button Container */
.button-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: var(--default-z-index-top);
    width: 30%;
    background: linear-gradient(
        var(--default-colour-dark-gray_40) 0,
        var(--default-colour-all-black_60) 100%
    );
    margin-inline: auto;
    box-shadow: 0 2px 16px var(--default-colour-all-black_40);
    padding: 0 1.75rem;
    border-radius: 4rem;
}
.nav__list {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}
.nav__link {
    color: var(--default-colour-off-white);
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.4s;
}
.nav__link:hover {
    color: var(--default-colour-all-white);
}

.start-stop-button {
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--default-colour-bright-purple_100);
    text-align: center;
    transition: color 0.3s, filter 0.2s;
    cursor: pointer;
}
.start-stop-button:has(> i.ri-play-fill) {
    padding: 0 21px;
}
.start-stop-button-icon {
    font-size: 2rem;
    color: var(--default-colour-all-white);
    cursor: pointer;
}
.start-stop-button:hover{
    background-color: #A624FF;
    filter: drop-shadow(0 0 10px var(--default-colour-bright-purple_40))
            blur(0.15px);
    cursor: pointer;
}

* {
    box-sizing: inherit;
}