html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: auto;
    background-image: radial-gradient(
        farthest-corner at 100px 100px,
        #290245 25%,
        #1D1617 100%
    );
    border-radius: 8px;
    overflow: hidden;
}

.border-gradient {
    border: 2px solid;
    border-radius: 8px;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        rgba(0, 240, 255, 0.15),
        rgba(157, 0, 255, 0.4),
        rgba(57, 10, 92, 100)
    );
}

/* Metrics Section */
.metrics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
    padding: 20px;
    border-radius: 8px;
    background-image: radial-gradient(
            rgba(138, 3, 221, 0.4) 0%,
            rgba(35, 7, 56, 0.2) 100%
    );
    text-align: center;
}
.metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-family: 'Ruda', sans-serif;
    color: rgba(255, 255, 255, 0.74);
}
.metric-circle {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 6px 0;
}
.metric-circle svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}
.metric-circle .progress-background {
    fill: none;
    stroke: #D94260;
    stroke-width: 8;
    filter: drop-shadow(-1px -0 1px rgba(0, 0, 0, 0.3));
}
.metric-circle .progress-ring {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
    stroke: url(#GradientColor);
    filter: drop-shadow(1px 1px 1px rgba(0, 240, 255, 0.2))
            blur(0.15px);
    transition: stroke-dashoffset 0.4s, stroke 0.4s;
}
.metric-circle .percentage-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    font-family: 'Righteous', sans-serif;
}

/* Speedometer */
.speedometer {
    text-align: center;
    vertical-align: center;
    margin: 10px 0;
    padding: 10px 0;
    height: 110px;
    background-image: radial-gradient(
        ellipse at center,
        rgba(191, 88, 255, 0.15) 0,
        rgba(127, 1, 207, 0.1) 23%,
        rgba(41, 2, 69, 0.5) 55%,
        transparent 70%
    );
}
.speed-value {
    font-size: 48px;
    font-family: 'Righteous', sans-serif;
    color: #FFF;
}
.speed-unit {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.74);
}

/* Map Section */
.map-container {
    position: relative;
    height: 100%;
    display: grid;
    border-radius: 8px;
}
.map-container::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(circle, transparent 10%, rgba(10, 10, 30, 0.7) 100%);
    pointer-events: none;
}
iframe {
    filter: invert(90%) hue-rotate(180deg) contrast(95%);
    border: none;
}

/* Button Container */
.button-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 99;
    width: 30%;
    background: linear-gradient(
        rgba(10, 10, 10, 0.4) 0,
        rgba(0, 0, 0, 0.6) 100%
    );
    margin-inline: auto;
    box-shadow: 0 2px 16px rgba(0,0,0,0.4);
    padding: 0 1.75rem;
    border-radius: 4rem;
}
.nav__list {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}
.nav__link {
    color: #CCC;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.4s;
}
.nav__link:hover {
    color: #FFFFFF;
}

.start-button {
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0 21px;
    background-color: #9D00FF;
    text-align: center;
    transition: color 0.3s, filter 0.3s;
    cursor: pointer;
}
.start-button-icon {
    font-size: 2rem;
    color: #FFFFFF;
    cursor: pointer;
}
.start-button:hover{
    background-color: #A624FF;
    filter: drop-shadow(0 0 4px rgba(163, 37, 250, 0.8))
            blur(0.15px);
    cursor: pointer;
}

* {
    box-sizing: inherit;
}