:root {
    /* Colours */
    --default-colour-bright-blue_highlight: rgba(45, 243, 255, 1);
    --default-colour-bright-blue_100: rgba(0, 240, 255, 1);
    --default-colour-bright-blue_80: rgba(0, 240, 255, 1);
    --default-colour-bright-blue_20: rgba(0, 240, 255, 0.2);
    --default-colour-bright-blue_15: rgba(0, 240, 255, 0.15);

    --default-colour-flat-red: #D94260;

    --default-colour-all-white: #FFFFFF;
    --default-colour-all-white_25: rgba(255, 255, 255, 0.25);
    --default-colour-all-white_60: rgba(255, 255, 255, 0.6);
    --default-colour-all-white_84: rgba(255, 255, 255, 0.84);
    --default-colour-off-white: #CCCCCC;

    --default-colour-very-light-gray: #EEEEEE;
    --default-colour-light-gray: #AAAAAA;
    --default-colour-medium-gray_80: rgba(85, 85, 85, 0.8);
    --default-colour-dark-gray_40: rgba(10, 10, 10, 0.4);
    --default-colour-dark-medium-gray_60: rgba(53, 53, 53, 0.6);
    --default-colour-dark-gray_90: rgba(33, 33, 33, 0.9);

    --default-colour-all-black_10: rgba(0, 0, 0, 0.1);
    --default-colour-all-black_30: rgba(0, 0, 0, 0.3);
    --default-colour-all-black_40: rgba(0, 0, 0, 0.4);
    --default-colour-all-black_60: rgba(0, 0, 0, 0.6);
    --default-colour-blueish-black_70: rgba(10, 10, 30, 0.7);

    --default-primary-black: #111111;
    --default-secondary-black: #1F1F1F;

    /* Opacity */
    --default-opacity-light-level-1: 0.96;
    --default-opacity-light-level-2: 0.84;
    --default-opacity-light-level-3: 0.74;

    /* Z-Index */
    --default-z-index-top: 999
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--default-primary-black);
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 60px 24px 64px;
    margin: auto;
    background-image: radial-gradient(
        farthest-corner at 100px 100px,
        var(--default-secondary-black) 25%,
        var(--default-primary-black) 100%
    );
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* Sliding Transitions */
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--default-colour-medium-gray_80);
    transition: transform 0.5s ease-in-out;
}
.page.active {
    transform: translateX(0%);
}
.page.out-left {
    transform: translateX(-100%);
}
.page.out-right {
    transform: translateX(100%);
}

/* Metrics Section */
.metrics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
    text-align: center;
}
.metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-family: 'Ruda', sans-serif;
    font-weight: 100;
    color: var(--default-colour-all-white_84);
}
.metric-circle {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 6px 0;
}
.metric-circle svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}
.metric-circle .progress-background {
    fill: none;
    stroke: var(--default-colour-flat-red);
    stroke-width: 8;
    filter: drop-shadow(-1px -0 1px var(--default-colour-all-black_30));
}
.metric-circle .progress-ring {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
    stroke: url(#GradientColor);
    filter: drop-shadow(1px 1px 1px var(--default-colour-bright-blue_20))
            blur(0.15px);
    transition: stroke-dashoffset 0.4s, stroke 0.4s;
}
.metric-circle .percentage-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: normal;
    color: var(--default-colour-all-white);
    font-family: 'Righteous', sans-serif;
}

/* Speedometer */
.speedometer {
    text-align: center;
    vertical-align: center;
    margin: 20px 0;
    padding: 10px 0;
    height: 110px;
}
.speed-value {
    font-size: 54px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--default-colour-all-white);
    opacity: var(--default-opacity-light-level-2);
    filter: drop-shadow(-2px -2px 4px var(--default-colour-all-white_25));
}
.speed-unit {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: var(--default-colour-all-white);
    opacity: var(--default-opacity-light-level-3);
}
canvas {
    max-width: 100%;
    max-height: 185px;
    position: relative;
    margin: 10px 0;
}

/* Map Section */
.map-container {
    position: relative;
    height: 100%;
    margin: 24px 0 40px;
    display: grid;
}
.map-container::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: calc(var(--default-z-index-top) - 1);
    background: radial-gradient(circle, transparent 10%, var(--default-colour-blueish-black_70) 100%);
    box-shadow: inset 0 0 8px 2px var(--default-colour-all-black_30);
    pointer-events: none;
}
.leaflet-container {
    background: none;
    border-radius: 0;
}
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-control-attribution {
    display: none;
}

.button-container {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: var(--default-z-index-top);
    min-width: 280px;
    width: 50%;
    max-width: 350px;
    height: 80px;
    background: linear-gradient(
            var(--default-colour-dark-medium-gray_60) 0,
            var(--default-colour-dark-gray_90) 100%
    );
    margin-inline: auto;
    box-shadow: 0 2px 4px 0 var(--default-colour-all-black_30);
    padding: 8px 24px;
    border-radius: 50px;
}
/* Button Container */
.nav__list {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 34px;
}
.nav__link {
    color: var(--default-colour-all-white_60);
    text-decoration: none;
    transition: color 0.4s, filter 0.4s;
    filter: drop-shadow(2px 2px 4px var(--default-colour-all-black_30));
}
.nav__link:hover {
    color: var(--default-colour-all-white);
}
.nav__link.active {
    color: var(--default-colour-bright-blue_80);
    filter: drop-shadow(1px 1px 1px var(--default-colour-bright-blue_100));
}
.nav__link.active:hover {
    color: var(--default-colour-bright-blue_100);
    filter: drop-shadow(1px 1px 2px var(--default-colour-bright-blue_100));
}

.start-stop-button {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(
            to bottom right,
            var(--default-colour-light-gray) 0%,
            var(--default-colour-very-light-gray) 90%
    );
    text-align: center;
    transition: color 0.3s, filter 0.2s;
    cursor: pointer;
    box-shadow: -1px -1px 2px 0 var(--default-colour-all-white_60),
                1px 1px 2px 0 var(--default-colour-all-black_60);
}
.start-stop-button:has(> i.ri-play-fill) {
    padding-left: 10px;
}
.start-stop-button-icon {
    cursor: pointer;
    font-size: 34px;
    transition: color 0.4s, filter 0.2s;
    color: var(--default-colour-medium-gray_80);
}
.start-stop-button-icon.active {
    color: var(--default-colour-bright-blue_80);
}
.start-stop-button:hover{
    box-shadow: 0 0 2px 0px var(--default-colour-all-black_60),
                0 0 6px 1px var(--default-colour-bright-blue_100);
    cursor: pointer;
}
.start-stop-button:hover .start-stop-button-icon {
    color: var(--default-colour-bright-blue_highlight);
}

* {
    box-sizing: inherit;
}